<p>
  <%= link_to 'Go to home page', root_path %>
</p>

<h2>Articles listing</h2>

<%= render 'article', obj: @articles, purpose: 'index' %>

<p>
  <%= link_to 'Create a new artiicle', new_article_path %>
</p>