<h2>Articles listing: </h2>

<% if logged_in? %>
  <p>
    <%= link_to 'Create a new artiicle', new_article_path %>
  </p>
<% end %>

<div class="pagination">
  <%= will_paginate @articles%>
</div>

<%= render 'article', obj: @articles, purpose: 'index' %>

